// Favorites Page Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.loading-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-page {
    padding: 5rem 1.2rem 1rem;
    &__heading {
        font-family: $header-font;
        font-size: 3rem;
    }
    &__name-email {
        display: flex;
    }
    &__label-container {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__label-text {
        font-size: 0.85rem;
        line-height: 1.25rem;
        &--top {
            padding-bottom: 1.25rem;
        }
    }
    &__field-container {
        width: 65%;
        flex-direction: column;
        justify-content: space-between;
    }
    &__field-text {
        font-size: 0.825rem;
        line-height: 1.25rem;
        &--top {
            padding-bottom: 1.25rem;
        }
    }
    &__edit-name-email{
        margin-left: auto;
    }
    &__password-container {
        display: flex;
        align-items: center;
        padding: 2rem 0 1.25rem;
    }
    &__password-text {
        font-size: 0.85rem;
        line-height: 1.25rem;
        width: 25%;
    }
    &__password-field {
        display: flex;
        justify-content: center;
        border: none;
        width: 10rem;
        height: 2rem;
        border-radius: 20px;
        background-color: $color-field-background;
    }
    &__password {
        font-size: 1rem;
        line-height: 1rem;
        padding-top: 0.6rem;
    }
    &__notifications-container {
        display: flex;
        align-items: center;
        padding-top: 0.75rem;
    }
    &__notifications-label {
        font-size: 0.85rem;
        line-height: 1.25rem;
        width: 36%;
        font-weight: 600;
    }
    // &__notifications-toggle {
    //     padding-left: 1rem;
    // }
    &__notify-container {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;
    }
    &__notify-field {
        box-sizing: border-box;
        border: none;
        width: 10.5rem;
        height: 2.25rem;
        border-radius: 20px;
        background-color: $color-field-background;
        font-family: $base-font;
        padding-left: 0.85rem;
        margin-left: 0.7rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; 
        background-image: url('../../assets/icons/arrow-drop-down.svg');
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        outline: none;
        &:focus {
            border: 2px solid $color-main;
        }
    }
    &__signout-button-container {
        padding-top: 8rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__signout-button {
        background-color: $color-main;
        border: none;
        width: 50%;
        height: 2.25rem;
        border-radius: 20px;
        font-size: 0.9rem;
        line-height: 1rem;
        font-family: $base-font;
        font-weight: 600;
    }
    &__loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* Hide the default checkbox */
.toggle input {
    display: none;
  }
  
  /* Style the toggle slider */
  .slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
    margin-left: 0.75rem;
  }
  
  /* Style the slider's indicator */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* Style the slider when checked */
  .toggle input:checked + .slider {
    background-color: $color-main;
  }
  
  /* Move the slider indicator when checked */
  .toggle input:checked + .slider:before {
    transform: translateX(22px);
  }