// Inventory Page Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

span {
  font-weight: 600;
}

.loading-error {
  @include fixed-center-center;
}

.inventory-page {
  padding: 5rem 1.5rem 0;
  &__heading-container {
    @include flex-spaceb-center;
    padding-bottom: 0.5rem;
  }
  &__heading {
    @include page-heading; 
  }
  &__add-button-container {
    position: relative;
  }
  &__add-button {
    @include inventory-page-text;
    height: 2rem;
    width: 6.5rem;
    background-color: $color-main;
    border: none;
    font-family: $base-font;
    border-radius: 5px;
    padding-left: 1.2rem;
  }
  &__add-icon {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    height: 1.2rem;
  }
  &__no-inventory-text {
    padding-top: 0.75rem;
    @include inventory-page-text-large;
  }
  &__subheading-container {
    display: flex;
    width: 100%;
    padding-bottom: 0.2rem;
  }
  &__subheading {
    @include inventory-page-text-large;
    width: 42%;
    padding-right: 0.75rem;
  }
  &__item-container {
    display: flex;
    align-items: center;
    margin: 0.75rem -0.5rem;
    padding: 0 0.75rem;
    background-color: $color-item-background;
    height: 3rem;
    &--expired {
      background-color: $color-expired;
    }
    &--warning {
      background-color: $color-expiry-warning;
    }
  }
  &__item-name {
    @include inventory-page-text;
    width: 42%;
  }
  &__item-exp {
    @include inventory-page-text;
    padding-left: 0.75rem;
  }
  &__edit-icon {
    margin-left: auto;
    margin-right: 0.5rem;
    height: 1.5rem;
  }
  &__delete-icon {
    height: 1.5rem;
  }
  &__loading {
    @include fixed-center-center;
  }
}