/* Fonts */

@font-face {
    font-family: "Dongle";
    src: url("../../assets/fonts/Dongle-Light.ttf") format("truetype"),
        url("../../assets/fonts/Dongle-Regular.ttf") format("truetype"),
        url("../../assets/fonts/Dongle-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Light.ttf") format("truetype"),
        url("../../assets/fonts/Inter-Regular.ttf") format("truetype"),
        url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
}