/* Variables */

/* Fonts */
$header-font: "Dongle";
$base-font: "Inter";

/* Primary Colors */
$color-main: #C5DE8B;
$white: #FFFFFF;
$black: #000000;

/* Secondary Colors */
$color-signup-button: #b7fc97;
$color-field-background: #F3F3F3;
$color-divider: #9EA195;
$color-expiry-warning: #FFD9D9;
$color-expired: #FF8282;

/* Screen Sizes */
$tablet-width: 768px;
$desktop-width: 1280px;
