/* Variables */

/* Fonts */
$header-font: "Dongle";
$base-font: "Inter";

/* Primary Colors */
$color-main: #C5DE8B;
$white: #FFFFFF;
$black: #000000;

/* Secondary Colors */
$color-placeholder-text: #616161;
$color-nav-text: #616161;
$color-signup-button: #b7fc97;
$color-signup-link: #5bbf2c;
$color-field-background: #F3F3F3;
$color-item-background: #F5F5F5;
$color-divider: #9EA195;
$color-modal-divider: #D9D9D9;
$color-expiry-warning: #FFD9D9;
$color-expired: #FF8282;
$color-transparent-background: #9EA195;

/* Screen Sizes */
$tablet-width: 768px;
$desktop-width: 1280px;
