// Edit Food Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
   @include modal-overlay;
}

.edituserinfomodal {
    @include modal-container;
    height: 16rem;
    @include tablet {
        height: 17.5rem;
    }
    &__form {
        @include modal-form;
    }
    &__heading-container {
        width: 100%;
        border-bottom: 1px solid $color-modal-divider;
        @include flex-center-center;
    }
    &__edit-icon {
        @include modal-heading-icon;
    }
    &__heading {
        @include modal-heading;
    }
    &__field-container-1 {
        padding: 1.25rem 0 1.25rem;
        width: 100%;
        @include flex-center-center;
        @include tablet {
            padding: 1.5rem 0 1.5rem;
        }
    }
    &__label {
        font-size: 0.9rem;
        line-height: 1rem;
        padding-right: 0.25rem;
        &--email {
            padding-right: 0.4rem;
        }
        @include tablet {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
    &__field {
        @include profile-modal-field;
        width: 72%;
     }
    &__field-container-2 {
        padding-bottom: 3.5rem;
        width: 100%;
        @include flex-center-center;
    }
    &__edit-error {
        position: fixed;
        color: $color-error;
        font-size: 0.8rem;
        line-height: 1.1rem;
        top: 62.5%;
        left: 15%;
        width: 80%;
    }
    &__button-container {
        @include modal-button-container;
    }
    &__button-cancel {
        @include modal-cancel-button;
    }
    &__button-save {
        @include modal-action-button;
    }
}