// Signup Form Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.signup-form {
  @include signup-login-container;
  height: 30rem;
  &__heading-container {
    display: flex;
    @include tablet {
      align-self: flex-start;
    }
  }
  &__back-arrow {
    margin: 1.5rem 1rem 0 0;
  }
  &__heading {
    @include page-heading; 
    @include tablet {
      padding-left: 2rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input-container {
    padding: 0.35rem 0;
  }
  &__password-container {
    position: relative;
    width: 100%;
  }
  &__input {
    @include signup-login-fields;
  }
  &__signup-error {
    @include signup-login-error;
  }
  &__signup-button {
    @include signup-login-buttons;
    margin-top: 1.75rem;
  }
  &__link-container {
    @include signup-login-link-container; 
  }
  &__login-link {
    @include signup-login-link; 
  }
}

.toggle-password {
  position: absolute;
  top: 52%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon {
  width: 2rem;
}