// Signup Form Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.signup-form {
  @include signup-login-container;
  height: 27rem;
  &__heading-container {
    display: flex;
  }
  &__back-arrow {
    margin: 1.5rem 1rem 0 0;
  }
  &__heading {
    @include page-heading; 
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input-container {
    padding: 0.35rem 0;
  }
  &__input {
    @include signup-login-fields;
  }
  &__signup-error {
    @include signup-login-error;
  }
  &__signup-button {
    @include signup-login-buttons;
    margin-top: 1.25rem;
  }
  &__link-container {
    @include signup-login-link-container; 
  }
  &__login-link {
    @include signup-login-link; 
  }
}