// Signup Page Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.signup-page {
  @include pre-login-background;
  &__header {
    font-family: $header-font;
    font-size: 3.5rem;
    @include tablet {
      font-size: 4rem;
  }
  }
}