// Recipe Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
    @include modal-overlay;
    overflow: auto;
}

.recipe-modal {
    @include recipe-modal-container;
    &__heart {
        position: fixed;
        height: 2.25rem;
        right: 10%;
        top: 3.25em;
        z-index: 1003;
        @include tablet {
            right: 30%;
            height: 2.5rem;
          }
    }
}