// Recipe Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
    @include modal-overlay;
    overflow: auto;
}

.recipe-modal {
    @include recipe-modal-container;
    &__heart {
        position: fixed;
        height: 2.25rem;
        right: 2.25rem;
        top: 3.25em;
        z-index: 1003;
    }
}