// Delete Food Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; 
    pointer-events: auto; 
    background-color: rgba($color-transparent-background, 0.5);
    overflow: auto;
}

.recipe-modal {
    z-index: 1002;
    padding: 1rem 1.5rem 1.25rem;
    box-sizing: border-box;
    position: fixed;
    background-color: $white;
    width: 90%; 
    height: 85%;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    &__back-arrow {
        position: fixed;
        left: 2rem;
        top: 3.75rem;
        z-index: 1003;
    }
    &__heart {
        position: fixed;
        height: 2.25rem;
        right: 1.75rem;
        top: 2.75rem;
        z-index: 1003;
    }
    &__recipe-image-container {
        display: flex;
        justify-content: center;
    }
    &__recipe-image {
        height: 7rem;
        width: 7rem;
        border-radius: 20px;
    }
    &__name {
        text-align: center;
        padding-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.25rem;
    }
    &__servings {
        text-align: center;
        padding-top: 0.25rem;
        font-weight: 400;
    }
    &__ingredients-section {
        padding-top: 0.5rem;
        width: 100%;
    }
    &__section-heading {
        width: 100%;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid $color-divider;
    }
    &__ingredient {
        font-size: 0.9rem;
        line-height: 1rem;
        padding-bottom: 0.25rem;
    }
    &__instructions-section {
        padding-top: 0.5rem;
        width: 100%;
    }
    &__nutrition-content {
        display: flex;
        flex-direction: column;
    }
    &__top-row {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__macros {
        width: 50%;
    }
    &__macro-micro-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 0.25rem;
    }
    &__circle {
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        margin-right: 0.5rem; 
        &--protein {
            background-color: $color-main;
        }
        &--fat {
            background-color: $color-fat;
        }
        &--carb {
            background-color: $color-carb;
        }
    }
    &__macro-micro {
        font-size: 0.85rem;
        line-height: 1rem;
        &--quantity {
            font-size: 0.8rem;
            margin-left: auto;
            font-weight: 600;
        }
    }
    &__bottom-row {
        display: flex;
        padding: 1rem 0;
    }
    &__kcal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin-right: 0.25rem
    }
    &__kcal-border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 3.5rem;
        border-radius: 20px;
        border: 1px solid $color-kcal-border;
    }
    &__kcal {
        text-align: center;
        font-size: 0.85rem;
        line-height: 1rem;
        &--bold {
            font-weight: 600;
        }
    }
    &__micro-container {
        width: 55%;
        margin-left: auto;
    }
    &__instructions-section {
        padding-top: 0.25rem;
    }
    &__instructions-text {
        padding-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 1rem;
    }
    &__instructions-link {
        text-decoration: none;
        color: $color-recipe-link;
        font-weight: 600;
    }
}