// Edit Food Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
    @include modal-overlay;
}

.editfoodmodal {
    @include modal-container;
    height: 16rem;
    @include tablet {
        height: 18rem;
    }
    &__form {   
        @include modal-form;
    }
    &__heading-container {
        @include modal-heading-container;
    }
    &__edit-icon {
        @include modal-heading-icon;
    }
    &__heading {
        @include modal-heading;
    }
    &__field-container-1 {
        @include inv-modal-field-container-1;
    }
    &__label {
        @include inv-modal-label;
    }
    &__field-1 {
       @include inv-modal-field-1;
        &::placeholder {
            font-size: 0.9rem;
            line-height: 1.25rem;
            font-family: $base-font;
            color: $black;
        }
    }
    &__field-container-2 {
        @include inv-modal-field-container-2;
    }
    &__field-2 {
       @include inv-modal-field-2;
        &::placeholder {
            font-size: 0.9rem;
            line-height: 1.25rem;
            font-family: $base-font;
            color: $black;
        }
    }
    &__button-container {
        @include modal-button-container;
    }
    &__button-cancel {
        @include modal-cancel-button;
    }
    &__button-save {
        @include modal-action-button;
    }
}