// Delete Food Modal Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.overlay {
    @include modal-overlay;
}

.deletefoodmodal {
   @include modal-container;
    height: 12rem;
    @include tablet {
        height: 12.5rem;
    }
    &__heading-container {
        @include modal-heading-container;
    }
    &__delete-icon {
        @include modal-heading-icon;
    }
    &__heading {
        @include modal-heading;
    }
    &__text-container {
        @include delete-modal-text-container;
    }
    &__text {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        padding: 0 1rem;
    }
    &__button-container {
        @include modal-button-container;
    }
    &__button-cancel {
        @include modal-cancel-button;
    }
    &__button-delete {
        @include modal-action-button;
        color: $color-delete-button;
    }
}