// Login Form Styling 

@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.login-form {
  @include signup-login-container;
  height: 28rem;
  &__heading-container {
    display: flex;
    @include tablet {
      align-self: flex-start;
    }
  }
  &__back-arrow {
    margin: 1.5rem 1rem 0 0;
  }
  &__heading {
    @include page-heading; 
    @include tablet {
      padding-left: 2rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  &__input-container {
    padding: 0.4rem 0;
  }
  &__input {
    @include signup-login-fields;
  }
  &__login-error {
    @include signup-login-error;
  }
  &__login-button {
    @include signup-login-buttons;
    margin-top: 4rem;
  }
  &__link-container {
    @include signup-login-link-container; 
  }
  &__signup-link {
    @include signup-login-link; 
  }

}